%!TEX TS-program = xelatex
%!TEX encoding = UTF-8 Unicode
\documentclass[11pt,a4paper]{awesome-cv}

\fontdir[fonts/]
\colorlet{awesome}{awesome-red}

\name{<<personal.first_name | e>>}{<<personal.last_name | e>>}
<% if personal.title %>\position{<<personal.title | e>>}<% endif %>
<% if personal.phone %>\mobile{<<personal.phone | e>>}<% endif %>
<% if personal.email %>\email{<<personal.email>>}<% endif %>
<% if personal.github_user %>\github{<<personal.github_user>>}<% endif %>
<% if personal.linkedin_user %>\linkedin{<<personal.linkedin_user>>}<% endif %>

\makecvfooter
  {}
  {v<<version | e>> --- <<build_date | e>>}
  {}

\begin{document}

\makecvheader

<% if summary %>
\cvsection{Summary}
\begin{cvparagraph}
<<summary | e>>
\end{cvparagraph}
<% endif %>

<% if experiences %>
\cvsection{Experience}
\begin{cventries}
<% for exp in experiences %>
  \cventry
    {<<exp.role | e>>}
    {<<exp.company | e>>}
    {<<exp.location | e>>}
    {<<exp.start_date | e>> -- <<exp.end_date | e>>}
    {
<% if exp.summary %>
      {\itshape <<exp.summary | e>>}<% if exp.responsibilities %>\newline\vspace{4mm}<% endif %>
<% endif %>
<% if exp.responsibilities %>
      \begin{cvitems}
<% for r in exp.responsibilities %>
        \item {<<r | e>>}
<% endfor %>
      \end{cvitems}
<% endif %>
    }
<% endfor %>
\end{cventries}
<% endif %>

<% if education %>
\cvsection{Education}
\begin{cventries}
<% for edu in education %>
  \cventry
    {<<edu.degree | e>>}
    {<<edu.institution | e>>}
    {}
    {<<edu.date | e>>}
    {}
<% endfor %>
\end{cventries}
<% endif %>

<% if skills %>
\cvsection{Skills}
\begin{cvskills}
<% for s in skills %>
  \cvskill
    {<<s.topic | e>>}
    {<<s.description | e>>}
<% endfor %>
\end{cvskills}
<% endif %>

\end{document}
